    * {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background-color: #4968b8;
    padding-top: 200px; /* Adjusted padding to accommodate header height */
    margin-left: 50px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    height: 20vh;
    background-color: rgba(30, 17, 203, 0.6);
}

.navbar {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.logo {
    font-size: 2.1rem;
    font-weight: 600;
    margin-right: auto;
}

.logo span {
    color: #8B0A1A;
}

.menu-links {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.menu-links li {
    margin-right: 20px; 
}

.navbar a {
    color: #fff;
    text-decoration: none;
    transition: 0.2s ease;
}

.navbar a:hover {
    color: #12b841;
}

@media (max-width: 768px) {
    .menu-links {
        flex-direction: column;
    }
    .menu-links li {
        margin-bottom: 10px;
    }

    .logo {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
        color: #F5F5DC;
    }
}

h1 {
    color: #333;
    margin-top: 20px; /* Add margin to create space from the header */
}

.contact-link {
    display: block; /* Ensures links are displayed one below the other */
    margin: 10px 0;
    font-size: 18px;
    text-decoration: none;
    color: #222324;
}

.contact-link:hover {
    text-decoration: underline;
}
